<div class="d-flex flex-row bd-hightlight mb-3">
<div class="form-froup row" style="width: 60%;">
    <label class="col-sm-2 col-form-label">Employee Name</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="EmployeeName"
        placeholder="Enter Employee Name">

    </div>

    <label class="col-sm-2 col-form-label">Department Name</label>
    <div class="col-sm-10">
        <select class="form-control" [(ngModel)]="Department">
            <option>--Select--</option>
            <option *ngFor="let depName of DepartmentList">
                {{depName.DepartmentName}}
            </option>
        </select>
    </div>

    <label class="col-sm-2 col-form-label">Date Of Joining</label>
    <div class="col-sm-10">
        
        <input type="date" class="form-control bi bi-calendar-date-fill" [(ngModel)]="DateOfJoining">
        
      
    </div>

</div>

<div class="ml-3 bd-highlight"style="width: 40%;" >
<img [src]="PhotoFilePath" height="250px" width="200px">


<form class="md-form">
    <div class="file-field">
      <a class="btn-floating purple-gradient mt-0 float-left">
        <i class="fas fa-cloud-upload-alt" aria-hidden="true"></i>
        <input type="file" (change)="uploadPhoto($event)">
      </a>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Upload your file">
      </div>
    </div>
  </form>

</div>
</div>
<button (click)="addEmployee()" *ngIf="emp.EmployeeId==0" class="btn btn-primary">
    Add
</button>


<button (click)="updateEmployee()" *ngIf="emp.EmployeeId!=0" class="btn btn-primary">
    Update
</button>